body{
    margin: 0;
    box-sizing: border-box; 
    background-color: var(--sky-blue);
}

:root{
    --black:#000000;
    --white:#ffffff;
    --sky-blue:#14aedc;
    --lightgrey:#e0e7e2;
}

.container{
    font-family: "Trirong", serif;
    display: grid;
    place-items: center;
}

.container h1{
    font-size: 35px;
    text-align: center;
}

.head p{
    font-size: large;
}

.cell:focus{
    outline: none;
}

.game-row{
    display: flex;
}

.cell{
    margin: -2px;
    margin-bottom: 2px;
    background-color: var(--lightgrey);
    border: none;
    width: 120px;
    height: 120px;
    font-size: 70px;
    text-align: center;
}

.winner-container{
    margin-top: -30px;
    font-size: 30px;
}

#a1{
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
#a2{
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
#a3{
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
#a4{
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
#a5{
    border: 1px solid var(--black);
}
#a6{
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
#a7{
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
}
#a8{
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
}
#a9{
    border-left: 1px solid var(--black);
    border-top: 1px solid var(--black);
    
}

.reset{
    margin: 10px;
}

.reset button{
    font-size: large;
    padding: 10px;
    border: 1px dotted var(--lightgrey);
    border-radius: 10px;
}