*{
    margin: 0;
}
body{
    background-color: rgb(254, 88, 88);
    text-align: center;
    font-size: large;
}
details{
    margin-left: 33%;
    width: 500px;
    margin-top: 20px;
    background-color: rgb(65, 187, 252);
    padding: 10px;
    border:1px solid black ;
}
.points-container,.options-container,.button-container{
    padding: 10px;
}
.options-container{
    display: block;
}
strong{
    margin: 100px;
}
button{
    padding: 0;
}
#result-msg,#winner-msg{
    padding: 10px;
}
#reset-game{
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(126, 250, 250);
    margin-top: 10px;
    margin-left: 48%;
    display: none;
}