body{
    display: flex;
    justify-content: center;
    background-color: rgb(177, 224, 250);
    
}
.calculator{
    margin-top: 60px;
    padding: 10px;
    width: 360px;
    background-color: rgb(37, 35, 35);
    border-radius: 10px;
}
h1{
    color: rgb(177, 224, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.calculator-screen{
    margin: 2px;
    margin-bottom:10px;
    border: none;
    border-radius: 5px;
}
.calculator-screen input{
    font-size: 40px;
    text-align: right;
    width: 352px;
    height: 60px;
    box-shadow: none;
}
.calculator-row{
    display: flex;
}
.calculator-row input{
    margin: 2px;
}
input[type="button"]{
    font-size: large;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 5px;
}
@media only screen and (max-width: 768px) {
    [class*="calculator"]{
        margin-top: 30px;
        width:240px;
    }
    [class*="calculator-screen"]{
        width:240px;
        height:65px;
    }
    button{
        padding:26px;
    }
}