*{
    margin: 0;
}

:root{
    --main-theme: #79d9ac;
    --light-gray: #a9a2a2;
    --blue: #3badde;
    --pink: #cd5dc9;
    --purple-blue: #3b35b9;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-theme);
   
}

h1{
    font-size: 30px;
    text-align: center;
}

#author-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.author-card{
    padding: 20px;
    margin: 2.5%;
    width: 260px;
    background-color: var(--blue);
    border: 1px solid var(--border);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 1px 15px black;
}

a{
    text-decoration: none;
    color: var(--purple-blue);
}

.image{
    margin-left: 20%;
    width: 150px;
    height: 150px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button-container button{
    font-size: medium;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
    background-color: var(--blue);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 10px rgb(87, 78, 78);
}